.site-footer h2:not(.site-footer__logo){
    text-transform: uppercase;
}

.site-footer__container{
    background-color: rgb(255, 0, 0);
    color: white;  
    padding: 2em 10em; 
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;  
    gap: 2em;
}

.site-footer__container > div{
    flex-basis: 250px;
}

.site-footer__info h2::after{
    content: "";
    display: block;       
    width: 100%;          
    height: 1px;          
    background-color: rgb(255, 255, 255);
    margin-top: 0.5em;
}

.site-footer__contact img{
    width: 16px;
    height: 16px;
    margin-right: 0.5em;
}

.site-footer__contact-description{
    display: inline;
    font-size: .9em;
}

.site-footer__contact-title{
    color: black;
}

.site-footer__social img{
    width: 24px;
    height: 24px;
}

.site-footer__navigation ul  {
    padding: 0;
    list-style-position: inside;
}


.site-footer a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 0;
}
.site-footer__discover ul{
    padding: 0;
    list-style-position: inside;
    list-style: none;
}
.site-footer__copyright{
    text-align: center;
}

@media screen and (max-width: 767px){

   .site-footer__discover,.site-footer__contact,.site-footer__navigation,.site-footer__info{
    text-align: center;
   }

}
