.site-home{
    padding: 0px 10vw;
}

.site-home__slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.site-home__slide-image{
    width: 50vw;
    height: 100%;
}

.site-home__caption{
    width: 50vw;
}

.site-home__caption h2{
    font-size:  3em ;
    margin-bottom: 0.3em;
}

.site-home__caption h2 span{
    color: red;
}

.site-home__caption p{
    margin: 0px;
    padding: 0px;
}
.site-home__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
}



.site-home__buttons img {
    width: 24px;
    height: 24px;
    margin-left: 2em;
}

